body{
    font-family: monospace;
}

.navbar-nav a{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.navbar{
    background: #FF6C22;
}
.navbar .navbar-brand{
    font-size: 30px;
    font-weight: 700;

}
.navbar-nav .nav-item{
    margin: 0 13px;
}
.navbar-nav .nav-link:hover{
    color: yellow;
    font-size: 25px;
}

.carousel-item{
    height: 100vh;
    min-width: 300px;
}
.bg-1{
    background-image: url(../images/biriani.jpg);
    background-position: center;
    background-size: cover;
}
.bg-2{
    background-image: url(../images/Shawarma.jpg);
    background-position: center;
    background-size: cover;
}
.bg-3{
    background-image: url(../images/ugali.jpg);
    background-position: center;
    background-size: cover;
}
.carousel-caption{
    z-index: 2;
}
.carousel-inner::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.carousel-item h5{
    font-size: 45px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.carousel-caption a{
    padding: 5px 17px;
    border-radius: 50px;
    font-size: 20px;
    font-family: fantasy;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: red;
    color: black;
}
.carousel-caption a:hover{
    background: orange;
}
#about{
    margin-top: 25px;
}

.menu {
    padding: 0 10px 30px 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:20px 40px;
}
.heading {
    background: orange;
    color: #fff;
    margin-bottom: 30px;
    padding: 30px 0;
    grid-column: 1/-1;
    text-align: center;
    margin-bottom: 2px;
}
.heading>h1{
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.heading>h3{
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.food-items {
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    transition: .2 ease-in-out;
    gap: 20px;
    border: 1px solid orange;
    justify-content: flex-end;
    margin: 10px;
    width: 150%;
    padding-top: 10px;
}
.food-items img{
    position: relative;
    width: 100%;
    height: 280px;
    border-radius: 15px 15px 0 0;
    cursor: pointer;
    border: 1px solid orange;   
}
h1{
    grid-column: 1/-1;
    text-align: center;
}
.details{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}
.details-sub{
    display: grid;
    grid-template-columns: auto auto;
}
.details-sub>h5{
    font-weight: 600;
    font-size: 18px;
}
.price {
    text-align: right;
}
.details>p {
    color: #6f6f6f;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
}
.details>button{
    background: #e84343;
    border: none;
    color:#fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 180px;
    cursor: pointer;
}
.details>button:hover{
    background: #fc0101;
}
#footer {
    padding: 1% 5%;
    text-align: center;
    background-color: #072541;
 }
 
 .social-icon {
    margin: 20px 10px;
    color: #7743DB;
 }
 
 .social-icon:hover {
    color: #FF6C22;
 }
 .copyright {
    color: #ffff
 }
 .nav-item.profile {
    padding-top: 11;
}
.nav-item.profile i.bi-person-circle {
    font-size: 20px;
}
.profile:hover{
    cursor: pointer;
}
.dropdown-toggle {
    margin-top: -4px;
    font-size: 20px;
}
.custom-list-style {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bi {
    border: none;
}
