<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar" style="background-color: lightgreen; margin-bottom: 25px;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><h1>Checkout Successful</h1></a>
        </div>
      </nav>
    <p style="text-align: center;">Thank you for your order!</p>
    <p style="text-align: center;">Your food is on the way</p>
    <img src="../static/images/delivery_guy.gif" alt="delivery guy" style="display: block; margin-left: auto; margin-right: auto; width: 50%;">
</body>
</html>
