<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vyakula</title>
    <link rel="icon" type="images/x-icon" href="../static/images/favicon.jpg">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#home"><i class="fa fa-cutlery" aria-hidden="true"></i>Vyakula.</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
             
              <li class="nav-item">
                <a class="nav-link" href="#home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#menu">Menu</a>
              </li>
              <li class="nav-item cart-info">
                <a class="nav-link" href="{{ url_for('cart') }}" onclick="showCart"><i class="bi bi-cart3"></i>
                  Cart
                </a>
                <div class="totalQuantity" id="totalQuantity">0</div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#review">Review</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>

              <li class="nav-item profile">
                <ul class="custom-list-style">
                    <li class="nav-item dropdown">
                        <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-light">
                              <li style="padding-left: 10px;">
                                  Hello {{ user.first_name }} {{ user.second_name }} <br> <hr>
                                  Name: {{ user.username }} <br>
                                  Phone no.: {{ user.phone_no }} <br>
                                  email: {{ user.email }}
                                  <hr>
                              </li>
                              <li style="text-align: right;">
                                  <form action="{{ url_for('logout') }}" method="post">
                                      <button type="submit" class="btn btn-danger" class="btn btn-link">Logout</button>
                                  </form>
                              </li>
                          
                      </ul>
                      
                    </li>
              
              </ul>
              
          </div>
        </div>
      </nav>
      
    <!-- end of navbar-->

    <!--Home page section-->

    <section id="home">

        <div id="carouselExampleCaptions" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active bg-1">
              <div class="carousel-caption">
                <h5>Biryani</h5>
                <p>Savoring the rich and aromatic flavors of biryani.</p>
                <a href="#">ORDER NOW</a>
              </div>
            </div>
            <div class="carousel-item bg-2">            
              <div class="carousel-caption">
                <h5>Shawarma</h5>
                <p>Wrap yourself in the delicious layers of Shawarma.</p>
                <a href="#">ORDER NOW</a>
              </div>
            </div>
            <div class="carousel-item bg-3">            
              <div class="carousel-caption">
                <h5>Ugali and Samaki</h5>
                <p>Embrace the heartwarming simplicity of Ugali and the savory delight of perfectly grilled fish.</p>
                <a href="#">ORDER NOW</a>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        </section>

    <!--End of home sectio-->

    <!--About us section-->
    
    <section id="about">
      <div class="container-lg">
        <h2 class="text-center">About Us</h2>
        <p class="lead my-4 text-muted text-center">Tasty treats right at your doorstep</p>
          <div class="row justify-content-center align-items-center">
            <div class="col-md-5 text-center">
              <img class="img-fluid" src="../static/images/deliver.jpg" alt="delivery">
          </div>
              <div class="col-md-5 text-center text-start">
                 
                  <p class="lead my-4 text-muted">At Vyakula, we're on a mission to redefine how you experience food. Our delivery food app was created with one simple goal in mind: to make delicious meals more accessible, convenient, and enjoyable than ever before.</p>
                  <p class="lead my-4 text-muted">Join us today and embark on a culinary journey that brings your favorite foods right to your doorstep. With Vyakula, we make satisfying your cravings a delightful experience. <br><br>24/7 Support: Our dedicated customer support team is always here to assist you with any questions or concerns, ensuring a smooth and satisfying experience every time.</p>
              </div>
              
          </div>
      </div>

    </section>

    <!--End of about us-->

    <!-- Menu section-->

    <section id="menu">
        <div class="menu">
          <div class="heading">
              <h1>Restaurant Food</h1>
              <h3>&mdash;Menu&mdash;</h3>
          </div>
          <div class="food-items">
              <img src="../static/images/food-to-share-1-400x400.jpg" alt="food-to-share-1-400x400">
              <div class="details">
                  <div class="details-sub">
                      <h5>Thai dish</h5>
                      <h5 class="price">10$</h5>
                  </div>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Possimus sapiente reprehenderit voluptatibus! Obcaecati,
                     cupiditate autem.
                  </p>
                  <button>Add to Cart</button>
              </div>
          </div>

          <div class="food-items">
              <img src="../static/images/OIP (5).jpg" alt="OIP (5).jpg">
              <div class="details">
                  <div class="details-sub">
                      <h5>Ethiopian dish</h5>
                      <h5 class="price">12$</h5>
                  </div>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Possimus sapiente reprehenderit voluptatibus! Obcaecati,
                     cupiditate autem.
                  </p>
                  <button>Add to Cart</button>
              </div>
          </div>

          <div class="food-items">
              <img src="../static/images/OIP (6).jpg" alt="OIP (6).jpg">
              <div class="details">
                  <div class="details-sub">
                      <h5>Fries and Burger</h5>
                      <h5 class="price">8$</h5>
                  </div>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Possimus sapiente reprehenderit voluptatibus! Obcaecati,
                     cupiditate autem.
                  </p>
                  <button>Add to Cart</button>
              </div>
          </div>

          <div class="food-items">
              <img src="../static/images/OIP (7).jpg" alt="OIP (7).jpg">
              <div class="details">
                  <div class="details-sub">
                      <h5>Pepparoni Pizza</h5>
                      <h5 class="price">5$</h5>
                  </div>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Possimus sapiente reprehenderit voluptatibus! Obcaecati,
                     cupiditate autem.
                  </p>
                  <button>Add to Cart</button>
              </div>
          </div>

          <div class="food-items">
              <img src="../static/images/OIP (8).jpg" alt="OIP (8).jpg">
              <div class="details">
                  <div class="details-sub">
                      <h5>Hauweian Pizza</h5>
                      <h5 class="price">6$</h5>
                  </div>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Possimus sapiente reprehenderit voluptatibus! Obcaecati,
                     cupiditate autem.
                  </p>
                  <button>Add to Cart</button>
              </div>
          </div>

          <div class="food-items">
              <img src="../static/images/R (5).jpg" alt="R (5).jpg">
              <div class="details">
                  <div class="details-sub">
                      <h5>Club Sandwich</h5>
                      <h5 class="price">7$</h5>
                  </div>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Possimus sapiente reprehenderit voluptatibus! Obcaecati,
                     cupiditate autem.
                  </p>
                  <button>Add to Cart</button>
              </div>
          </div>
      </div>


      </section>
    <!-- end of menu section-->

    <!--Review section-->
    <section id="review">
        <div class="container-lg">
            <div class="text-center">
                <h2>Book Reviews <i class="bi bi-stars"></i></h2>

                <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa, magni!</p>
            </div>
            <div class="row justify-content-center my-5">
                <div class="col-lg-8">
                    <div class="list-group">
                        <div class="list-group-item py-3">
                            <div class="pb-2">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>
                            <h5 class="mb-1">Lorem ipsum dolor sit amet consectetur.</h5>
                            <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius consequuntur quaerat cupiditate totam maxime ducimus!</p>
                            <small>Review by Danny</small>
                        </div>
                        <div class="list-group-item py-3">
                            <div class="pb-2">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>
                            <h5 class="mb-1">Lorem ipsum dolor sit amet consectetur.</h5>
                            <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius consequuntur quaerat cupiditate totam maxime ducimus!</p>
                            <small>Review by Danny</small>
                        </div>
                        <div class="list-group-item py-3">
                            <div class="pb-2">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star"></i>
                            </div>
                            <h5 class="mb-1">Lorem ipsum dolor sit amet consectetur.</h5>
                            <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius consequuntur quaerat cupiditate totam maxime ducimus!</p>
                            <small>Review by Danny</small>
                        </div>
                        <div class="list-group-item py-3">
                            <div class="pb-2">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-half"></i>
                            </div>
                            <h5 class="mb-1">Lorem ipsum dolor sit amet consectetur.</h5>
                            <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius consequuntur quaerat cupiditate totam maxime ducimus!</p>
                            <small>Review by Danny</small>
                        </div>
                        <div class="list-group-item py-3">
                            <div class="pb-2">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-half"></i>
                                <i class="bi bi-star-half"></i>
                            </div>
                            <h5 class="mb-1">Lorem ipsum dolor sit amet consectetur.</h5>
                            <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius consequuntur quaerat cupiditate totam maxime ducimus!</p>
                            <small>Review by Danny</small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
      </section>


    <!--end of review section-->

    <!--Contact page-->

    <section id="contact">
      <div class="container-lg">
        <div class="text-center">
            <h2>Get In Touch</h2>
            <p class="lead">Questions to ask? Fill out the form to contact us directly...</p>
        </div>
        <div class="row justify-content-center my-5">
            <div class="col-lg-6">
                <form method="post" action="" name="contact-form">
                    <label for="email" class="form-label">Enter your email</label>
                    <div class="mb-4 input-group">
                        <span class="input-group-text">
                            <i class="bi bi-envelope-fill"></i>
                            </span>
                            <input type="email" name="email" class="form-control" required placeholder="e.g: vyakula@gmail.com" autocomplete="email">
                        
                    </div>
                    
                    <label for="name" class="form-label">Enter your name:</label>
                    <div class="mb-4 input-group">
                        <span class="input-group-text">
                            <i class="bi bi-person-fill"></i>
                            </span>
                           <input type="text" name="name" class="form-control" required placeholder="e.g: Vyakula" autocomplete="name">
                        </div>
                    <label for="subject" class="form-label">What is your question?</label>
                    <select class="form-select" id="subject">
                        <option value="pricing" selected>Order change</option>
                        <option value="content">Delivery query</option>
                        <option value="other">Other questions</option>

                    </select>
                    <div class="form-floating mb-4 mt-5">
                        <textarea id="query" name="message" class="form-control" autocomplete="message"></textarea>
                        <label for="query">Your question...</label>

                    </div>
                    <div class="mb-4 text-center">
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    </section>

    <!--end of contact page-->

    <!--Footer-->

    <footer id="footer">
      <a href="#" target="_blank">
        <i class="social-icon fa-brands fa-x-twitter fa-xl"></i></a>
  
      <a href="#" target="_blank">
        <i class="social-icon fa-brands fa-facebook fa-lg"></i></a>
  
      <a href="#">
        <i class="social-icon fa-solid fa-envelope fa-xl"></i></a>
  
      <a href="#" target="_blank">
        <i class="social-icon fa-brands fa-instagram fa-xl"></i></a>
  
      <p class="copyright">©2023 Copyright Vyakula</p>
  
    </footer>

    <!--end of footer-->
    
</body>
</html>
